In [4]:

# =============================================
# üìò IMPORTING LIBRARIES
# =============================================

import pandas as pd
import numpy as np

# =============================================
# üß© TASK 1: INTRODUCING PANDAS OBJECTS
# =============================================

# Load dataset


# Use full file path
path = r"C:\Users\preethi\Downloads\archive (5)\index_1.csv"
df = pd.read_csv(path)

print("‚úÖ Dataset Loaded Successfully!")
print(df.head())


# Display first few rows
print("‚úÖ Dataset Loaded Successfully!")
print("\nFirst 5 Rows:\n", df.head())

# Insert your name as the first entry (customized example)
# You can adjust column names based on your dataset structure
# Let's automatically detect the columns first
print("\nDataset Columns:", df.columns.tolist())

# Try to create a row with your name
# (Modify according to your dataset columns)
new_row = {df.columns[0]: 'Preethi'}
for col in df.columns[1:]:
    new_row[col] = np.nan  # fill others as missing for now

# Add your row at the top
df = pd.concat([pd.DataFrame([new_row]), df], ignore_index=True)

print("\n‚úÖ Added first entry with your name!\n")
print(df.head(10))  # Display first 10 rows

# Display basic info
print("\nüîç Dataset Information:")
df.info()

print("\nüìä Statistical Summary:")
print(df.describe(include='all'))

# ---------------------------------------------
# Create a small Series and DataFrame manually
# ---------------------------------------------
print("\nüß† Creating Custom Series and DataFrame")

# Series Example
marks = pd.Series([90, 85, 92], index=['Math', 'Science', 'English'])
print("\nSeries Example:\n", marks)

# DataFrame Example
student_data = {
    'Name': ['A', 'B', 'C'],
    'Math': [85, 90, 95],
    'Science': [88, 84, 91]
}
df2 = pd.DataFrame(student_data)
print("\nDataFrame Example:\n", df2)

# =============================================
# üß© TASK 2: HANDLING MISSING DATA
# =============================================

print("\nüö® Checking Missing Values:")
print(df.isnull().sum())

# Fill missing numeric values with mean
df_filled = df.copy()
df_filled = df_filled.fillna(df.mean(numeric_only=True))

# Fill categorical missing values with mode
for col in df_filled.select_dtypes(include=['object']).columns:
    df_filled[col] = df_filled[col].fillna(df_filled[col].mode()[0])


print("\n‚úÖ Missing Values Handled Successfully!")
print(df_filled.isnull().sum())

# Optionally remove missing rows if needed
# df.dropna(inplace=True)

# =============================================
# üß© TASK 3: HIERARCHICAL INDEXING
# =============================================

# To demonstrate, pick first two columns for multi-level indexing
if len(df_filled.columns) >= 2:
    df_hier = df_filled.set_index([df_filled.columns[0], df_filled.columns[1]])
    print("\nüìë Hierarchical Index Created!\n")
    print(df_hier.head())

    # Access data using loc[]
    print("\nüéØ Accessing Data using .loc[] Example:")
    try:
        print(df_hier.loc['Preethi'])
    except KeyError:
        print("No row found for 'Preethi', skipping .loc[] demo.")

    # Access data using .xs()
    print("\nüîç Accessing Cross-section using .xs():")
    print(df_hier.xs(df_filled.iloc[1, 0], level=0))
else:
    print("\n‚ö†Ô∏è Dataset does not have enough columns for hierarchical indexing demonstration.")

# =============================================
# üß© TASK 4: PIVOT TABLES
# =============================================

# We‚Äôll create a pivot table if numeric columns exist
num_cols = df_filled.select_dtypes(include=['int64', 'float64']).columns
if len(num_cols) >= 1 and len(df_filled.columns) >= 2:
    pivot = pd.pivot_table(df_filled, values=num_cols[0],
                           index=df_filled.columns[1],
                           aggfunc='mean')
    print("\nüìä Pivot Table (Average of numeric column):\n", pivot)
else:
    print("\n‚ö†Ô∏è Not enough numeric data for pivot table example.")

# =============================================
# üßæ SUMMARY FINDINGS
# =============================================

print("\nüìÑ SUMMARY FINDINGS:")
print("""
1Ô∏è‚É£ Dataset successfully loaded and explored.
2Ô∏è‚É£ Missing data handled using mean/mode imputation.
3Ô∏è‚É£ Hierarchical indexing demonstrated using first two columns.
4Ô∏è‚É£ Pivot table created to analyze average values by category.
5Ô∏è‚É£ Custom Series and DataFrame created manually.
‚úÖ Assignment Complete!
""")

‚úÖ Dataset Loaded Successfully!
         date                 datetime cash_type                 card  money  \
0  2024-03-01  2024-03-01 10:15:50.520      card  ANON-0000-0000-0001   38.7
1  2024-03-01  2024-03-01 12:19:22.539      card  ANON-0000-0000-0002   38.7
2  2024-03-01  2024-03-01 12:20:18.089      card  ANON-0000-0000-0002   38.7
3  2024-03-01  2024-03-01 13:46:33.006      card  ANON-0000-0000-0003   28.9
4  2024-03-01  2024-03-01 13:48:14.626      card  ANON-0000-0000-0004   38.7

     coffee_name
0          Latte
1  Hot Chocolate
2  Hot Chocolate
3      Americano
4          Latte
‚úÖ Dataset Loaded Successfully!

First 5 Rows:
          date                 datetime cash_type                 card  money  \
0  2024-03-01  2024-03-01 10:15:50.520      card  ANON-0000-0000-0001   38.7
1  2024-03-01  2024-03-01 12:19:22.539      card  ANON-0000-0000-0002   38.7
2  2024-03-01  2024-03-01 12:20:18.089      card  ANON-0000-0000-0002   38.7
3  2024-03-01  2024-03-01 13:46:33.006      card  ANON-0000-0000-0003   28.9
4  2024-03-01  2024-03-01 13:48:14.626      card  ANON-0000-0000-0004   38.7

     coffee_name
0          Latte
1  Hot Chocolate
2  Hot Chocolate
3      Americano
4          Latte

Dataset Columns: ['date', 'datetime', 'cash_type', 'card', 'money', 'coffee_name']

‚úÖ Added first entry with your name!

         date                 datetime cash_type                 card  money  \
0     Preethi                      NaN       NaN                  NaN    NaN
1  2024-03-01  2024-03-01 10:15:50.520      card  ANON-0000-0000-0001   38.7
2  2024-03-01  2024-03-01 12:19:22.539      card  ANON-0000-0000-0002   38.7
3  2024-03-01  2024-03-01 12:20:18.089      card  ANON-0000-0000-0002   38.7
4  2024-03-01  2024-03-01 13:46:33.006      card  ANON-0000-0000-0003   28.9
5  2024-03-01  2024-03-01 13:48:14.626      card  ANON-0000-0000-0004   38.7
6  2024-03-01  2024-03-01 15:39:47.726      card  ANON-0000-0000-0005   33.8
7  2024-03-01  2024-03-01 16:19:02.756      card  ANON-0000-0000-0006   38.7
8  2024-03-01  2024-03-01 18:39:03.580      card  ANON-0000-0000-0007   33.8
9  2024-03-01  2024-03-01 19:22:01.762      card  ANON-0000-0000-0008   38.7

           coffee_name
0                  NaN
1                Latte
2        Hot Chocolate
3        Hot Chocolate
4            Americano
5                Latte
6  Americano with Milk
7        Hot Chocolate
8  Americano with Milk
9                Cocoa

üîç Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3637 entries, 0 to 3636
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3637 non-null   object
 1   datetime     3636 non-null   object
 2   cash_type    3636 non-null   object
 3   card         3547 non-null   object
 4   money        3636 non-null   float64
 5   coffee_name  3636 non-null   object
dtypes: float64(1), object(5)
memory usage: 170.6+ KB

üìä Statistical Summary:
              date                 datetime cash_type                 card  \
count         3637                     3636      3636                 3547
unique         382                     3636         2                 1316
top     2024-10-11  2025-03-23 18:11:38.635      card  ANON-0000-0000-0012
freq            26                        1      3547                  129
mean           NaN                      NaN       NaN                  NaN
std            NaN                      NaN       NaN                  NaN
min            NaN                      NaN       NaN                  NaN
25%            NaN                      NaN       NaN                  NaN
50%            NaN                      NaN       NaN                  NaN
75%            NaN                      NaN       NaN                  NaN
max            NaN                      NaN       NaN                  NaN

              money          coffee_name
count   3636.000000                 3636
unique          NaN                    8
top             NaN  Americano with Milk
freq            NaN                  824
mean      31.746859                  NaN
std        4.919926                  NaN
min       18.120000                  NaN
25%       27.920000                  NaN
50%       32.820000                  NaN
75%       35.760000                  NaN
max       40.000000                  NaN

üß† Creating Custom Series and DataFrame

Series Example:
 Math       90
Science    85
English    92
dtype: int64

DataFrame Example:
   Name  Math  Science
0    A    85       88
1    B    90       84
2    C    95       91

üö® Checking Missing Values:
date            0
datetime        1
cash_type       1
card           90
money           1
coffee_name     1
dtype: int64

‚úÖ Missing Values Handled Successfully!
date           0
datetime       0
cash_type      0
card           0
money          0
coffee_name    0
dtype: int64

üìë Hierarchical Index Created!

                                   cash_type                 card      money  \
date       datetime
Preethi    2024-03-01 10:15:50.520      card  ANON-0000-0000-0012  31.746859
2024-03-01 2024-03-01 10:15:50.520      card  ANON-0000-0000-0001  38.700000
           2024-03-01 12:19:22.539      card  ANON-0000-0000-0002  38.700000
           2024-03-01 12:20:18.089      card  ANON-0000-0000-0002  38.700000
           2024-03-01 13:46:33.006      card  ANON-0000-0000-0003  28.900000

                                            coffee_name
date       datetime
Preethi    2024-03-01 10:15:50.520  Americano with Milk
2024-03-01 2024-03-01 10:15:50.520                Latte
           2024-03-01 12:19:22.539        Hot Chocolate
           2024-03-01 12:20:18.089        Hot Chocolate
           2024-03-01 13:46:33.006            Americano

üéØ Accessing Data using .loc[] Example:
                        cash_type                 card      money  \
datetime
2024-03-01 10:15:50.520      card  ANON-0000-0000-0012  31.746859

                                 coffee_name
datetime
2024-03-01 10:15:50.520  Americano with Milk

üîç Accessing Cross-section using .xs():
                        cash_type                 card  money  \
datetime
2024-03-01 10:15:50.520      card  ANON-0000-0000-0001   38.7
2024-03-01 12:19:22.539      card  ANON-0000-0000-0002   38.7
2024-03-01 12:20:18.089      card  ANON-0000-0000-0002   38.7
2024-03-01 13:46:33.006      card  ANON-0000-0000-0003   28.9
2024-03-01 13:48:14.626      card  ANON-0000-0000-0004   38.7
2024-03-01 15:39:47.726      card  ANON-0000-0000-0005   33.8
2024-03-01 16:19:02.756      card  ANON-0000-0000-0006   38.7
2024-03-01 18:39:03.580      card  ANON-0000-0000-0007   33.8
2024-03-01 19:22:01.762      card  ANON-0000-0000-0008   38.7
2024-03-01 19:23:15.887      card  ANON-0000-0000-0008   33.8
2024-03-01 19:29:17.391      card  ANON-0000-0000-0009   33.8

                                 coffee_name
datetime
2024-03-01 10:15:50.520                Latte
2024-03-01 12:19:22.539        Hot Chocolate
2024-03-01 12:20:18.089        Hot Chocolate
2024-03-01 13:46:33.006            Americano
2024-03-01 13:48:14.626                Latte
2024-03-01 15:39:47.726  Americano with Milk
2024-03-01 16:19:02.756        Hot Chocolate
2024-03-01 18:39:03.580  Americano with Milk
2024-03-01 19:22:01.762                Cocoa
2024-03-01 19:23:15.887  Americano with Milk
2024-03-01 19:29:17.391  Americano with Milk

üìä Pivot Table (Average of numeric column):
                             money
datetime
2024-03-01 10:15:50.520  35.22343
2024-03-01 12:19:22.539  38.70000
2024-03-01 12:20:18.089  38.70000
2024-03-01 13:46:33.006  28.90000
2024-03-01 13:48:14.626  38.70000
...                           ...
2025-03-23 10:34:54.894  35.76000
2025-03-23 14:43:37.362  35.76000
2025-03-23 14:44:16.864  35.76000
2025-03-23 15:47:28.723  25.96000
2025-03-23 18:11:38.635  35.76000

[3636 rows x 1 columns]

üìÑ SUMMARY FINDINGS:

1Ô∏è‚É£ Dataset successfully loaded and explored.
2Ô∏è‚É£ Missing data handled using mean/mode imputation.
3Ô∏è‚É£ Hierarchical indexing demonstrated using first two columns.
4Ô∏è‚É£ Pivot table created to analyze average values by category.
5Ô∏è‚É£ Custom Series and DataFrame created manually.
‚úÖ Assignment Complete!